.broadside-container{
  /* position: fixed; */
  width: 20rem;
  /* overflow: scroll; */
  /* top:3rem; */
  height: 500rem;
}
.nav-container {
  position: sticky;
  width: 100%;
}

.body-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border:1px solid blue
}