.broadside-container{
  /* width: 100%; */
  
  border: 1px solid blue;
}
.broadSide {
  border: 1px solid green;
  position: fixed;
}

.nav-container {
  position: sticky;
  width: 100%;
  height: 3.5rem;
}

.body-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* border:1px solid blue; */
  height: 50rem;
  background-color: ghostwhite;
}
.header-container {
  height: 3.5rem;
}

.numberList-item {
  border-top: 1px solid gray;
  width: 100%;
}

.main-container {
  /* background-origin: padding-box; */
  /* border: 1px solid green; */
  /* background: greenyellow; */
}
