.broadside-container{
  /* position: fixed; */
  width: 20rem;
  
  /* top:3rem; */
  height: 500rem;

}
.nav-container {
  position: sticky;
  width: 100%;
}

.body-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border:1px solid blue
}

.head-container {
  height: 3.5rem;
  background: red;
}

.main-body {
  background: yellowgreen
}
.right-side {
  background: blue
}
.left-side {
  background: yellow
}